<style type="text/css"> .centerDiv { width: 17%; height:100px; margin: 0 auto;  text-align: center;} </style>

<div class="tab-pane active">

   <div>
     <div class="container">
       <%= form_tag("/search", method: "get") do %>
           <%= label_tag(:q, "") %>
           <%= text_field_tag(:q) %>
           <%= submit_tag("Search", class: "btn btn-info") %>
       <% end %>
     </div>
     <% @all_malz = Sample.all %>
     <div class="container">
       <!-- Default panel contents -->
       <div class="panel-heading"></div>
     </div>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Filename</th>
                  <th>MD5</th>
                  <th>Type</th>
                  <th>Detected</th>
                  <th>Remove</th>
                  <th>Tags</th>
                </tr>
            </thead>
            <tbody>
            <% @all_malz.each do |mal| %>
                <td><%= mal.malz_file_name %></td>
                <td><%= link_to mal.md5sum, samples_analysis_path(:md5 => mal.md5sum) %></td>
                <td><%= mal.malz_content_type %></td>
                <% if mal.detection == 'N/A' %>
                    <td><%= mal.detection %></td>
                <% else %>
                    <td><%= link_to mal.detection, "http://virustotal.com/en/file/#{mal.sha256}/analysis", :target => "_blank" %></td>
                <% end %>
                <td><%= link_to '', samples_delete_sample_path(:sample_id => mal.id), class: 'glyphicon glyphicon-trash btn btn-danger' %></td>
                <% mal.tag_list.each do |tag| %>
                    <td><%= link_to tag, threats_profile_path(:tag => tag), :class => 'label label-large label-info' %></td>
                    <% end %>
            </tbody>
            <% end %>
        </table>
       <!--<nav>
         <ul class="pagination">
           <li class="disabled"><a href="#">&laquo;</a></li>
           <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
           <li><a href="#">2<span></span></a></li>
           <li><a href="#">3<span></span></a></li>
         </ul>
       </nav>-->
   </div>
</div>