<div class="container" style="float:left">
  <h4>Compose Yara Signature</h4>
  <%= form_tag("addrule", method: "post") do %>
      <%= label_tag(:q, '') %>
      <div>
        Rule Name: <%= text_field_tag(:rule_name, '') %>.yar
      </div>
      Rule Body
      <div>
      <%= text_area_tag(:rule_body, '', size: "100x15") %>
      </div>
      <div>
        <%= submit_tag("Save", class: "btn btn-primary") %>
      </div>
  <% end %>
</div>

<div class="container" style="float:">
  <h4>OR you can upload a rule file</h4>
</div>
