<div class="container" style="float:left">
  <h4>Compose Yara Signature</h4>
  <%= form_tag("addrule", method: "post") do %>
      <%= label_tag(:q, '') %>
      <div>
        <h5>Rule Name:</h5><%= text_field_tag(:rule_name, '') %>.yar
      </div>
      <h5>Rule Content</h5>
      <div>
      <%= text_area_tag(:rule_body, '', size: "100x15") %>
      </div>
      <div>
        <%= submit_tag("Save", class: "btn btn-primary") %>
      </div>
  <% end %>
</div>
