<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feeds</title>
  <h3>Add Feed <%= link_to '', feeds_new_feed_path, class: 'glyphicon glyphicon-plus btn btn-success' %></h3>
</head>
<body>
<!--<div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
    <span class="sr-only">55% Complete</span>
  </div>-->
</div>
<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Run Now</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.url %></td>
        <td><%= link_to '', feeds_run_feed_path(:url => feed.url, :name => feed.name), class: 'glyphicon glyphicon-retweet btn btn-info' %></td>
        <td><%= link_to '', feeds_delete_feed_path(:name => feed.name), class: 'glyphicon glyphicon-trash btn btn-info' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>
