<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feeds</title>
  <h4>
    <%= image_tag("rss_cube.png", :size => "65x35", :style => "float :left",:crop => :fill) %>
    Add Threat Feed <%= link_to '', feeds_new_feed_path, class: 'glyphicon glyphicon-plus btn btn-success' %>
  </h4>
</head>
<body>
  <!--<div class="progress">
      <%# image_tag("loader.gif", :size => "65x35", :style => "float :left",:crop => :fill) %>
    </div>
    <script>$(document).ajaxStart(function(){
        $('.progress').show();
        })
    </script>-->
<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Tags</th>
    <th>Run Now</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.url %></td>
        <td><%= feed.tag_list %></td>
        <td><%= link_to '', feeds_run_feed_path(:url => feed.url, :name => feed.name, :tags => feed.tag_list), class: 'glyphicon glyphicon-retweet btn btn-primary' %></td>
        <td><%= link_to '', feeds_delete_feed_path(:name => feed.name), class: 'glyphicon glyphicon-trash btn btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
</body>
</html>
