<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Add Feed</title>
  <h1>Feed Builder</h1>
</head>
<body>
<div class="authform pull-left">
    <%= form_for @add_feed, url: {:action => "create"} do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => true, class: 'form-control'  %>
          </div>
          <div class="form-group">
            <%= f.label :url %>
            <%= f.text_field :url, :autofocus => true, class: 'form-control'  %>
          </div>
            <%= f.submit :class => "btn btn-primary" %>
    <% end %>
</div>
</body>
</html>