<!DOCTYPE html>
<html>
<%= paginate @results %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Value</th>
    <th>Type</th>
    <th>Tags</th>
    <th>Created</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%- @results.all.each do |i| %>
      <tr>
        <td><%= i.value %></td>
        <td><%= i.kind %></td>
        <td><%= i.tag_list %></td>
        <td><%= i.created_at %></td>
        <td><%= link_to '', '#', :class => 'btn btn-danger glyphicon glyphicon-remove'%></td>
      </tr>
  <% end %>
  </tbody>
</table>
</html>