<!DOCTYPE html>
<html>
<h3>
  Results Found: <%= @results.count %>
</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Value</th>
    <th>Type</th>
    <th>Source</th>
    <th>Created</th>
  </tr>
  </thead>
  <tbody>
  <%= @results.all.each do |i| %>
      <tr>
        <td><%= i.value %></td>
        <td><%= i.kind %></td>
        <td><%= i.source %></td>
        <td><%= i.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</html>