<div>
    <div class="page-header">
      <p class="center"><%= image_tag("Zealousec.png", :size => "260x180", :crop => :fill) %></p>
      <!--<h1 align="center"><u>Intelligence Dashboard</u></h1>-->
    </div>
  <% if user_signed_in? %>
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Total Feeds</h1>
          </div>
          <div class="panel-body"><%= Feeds.count(:all)%></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Total Indicators</h1>
            </div>
          <div class="panel-body"><%= Element.count(:all)%></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Total Samples</h1>
          </div>
          <div class="panel-body">0</div>
        </div>
      </div>
      <div class="center">
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "btn btn-large btn-danger" %>
      </div>
  <% else %>
    <div class="container-fluid">
      <center>
      <h1>Welcome!</h1>
      <p class="lead">
        Please sign in or sign up, then you may be deemed worthy to access the secrets within.
      </p>
        <div class="row-fluid">
         <div class="span6">
          <%= link_to "Login", new_user_session_path, :class => "btn btn-success" %>
          <%= link_to "Register", new_user_registration_path, :class => "btn btn-success" %>
         </div>
        </div>
        </center>
      </div>
  <% end %>
</div>
