<div>
    <div class="page-header">
      <p class="center"><%= image_tag("strategix.png", :size => "260x180", :crop => :fill) %></p>
      <h1 align="center">{ Intelligence Center }</h1>
    </div>
  <% if user_signed_in? %>
      <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title">Total Feeds</h1>
          </div>
          <div class="panel-body"><%= Feeds.count(:all)%></div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">Total Indicators</h1>
            </div>
          <div class="panel-body"><%= Element.count(:all)%></div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title">Total Malware Samples</h1>
          </div>
          <div class="panel-body"><%= Sample.count(:all)%></div>
        </div>
      </div>

  <% else %>
    <div class="container-fluid">
      <center>
        <div class="row-fluid">
         <div class="span6">
          <%= link_to "Login", new_user_session_path, :class => "btn btn-primary" %>
          <%= link_to "Register", new_user_registration_path, :class => "btn btn-primary" %>
         </div>
        </div>
        </center>
      </div>
  <% end %>
</div>
