<div>
    <div class="page-header">
      <p class="center"><%= image_tag("Cysector.png", :size => "360x80", :crop => :fill) %></p>
      <h1 align="center">{ Malware Intelligence }</h1>
    </div>
  <% if user_signed_in? %>
      <div class="col-xs-6" style="float: left:">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Malware</h4>
            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Total Malware Samples</h1>
            </div>
            <div class="panel-body"><%= Sample.count(:all)%></div>
            </div>

            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Yara Signatures</h1>
            </div>
            <div class="panel-body"><%= Element.count(:all)%></div>
            </div>
        </div>
        </div>
      </div>


      <div class="col-xs-6" style="float: right:">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Threat Intelligence</h4>
            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Threat Tags</h1>
            </div>
            <div class="panel-body"><%= Sample.count(:all)%></div>
            </div>

            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Indicators</h1>
            </div>
            <div class="panel-body"><%= Element.count(:all)%></div>
            </div>
          </div>
        </div>
      </div>


  <% else %>
    <div class="container-fluid">
      <center>
        <div class="row-fluid">
         <div class="span6">
          <%= link_to "Login", new_user_session_path, :class => "btn btn-primary" %>
           <span class="glyphicon glyphicon-resize-horizontal"></span>
          <%= link_to "Register", new_user_registration_path, :class => "btn btn-primary" %>
         </div>
        </div>
        </center>
      </div>
  <% end %>
</div>
