<div>
    <div class="page-header">
      <p class="center"><%= image_tag("Malstrom.png", :size => "360x80", :crop => :fill) %></p>
      <h4 align="center"><i>"Malware can hide, but it must run"</i> - SANS Institute</h4>
    </div>

  <% if user_signed_in? %>

      <div class="col-xs-6" style="float: left:">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Malware</h4>
            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Samples</h1>
            </div>
            <div class="panel-body"><span class="badge badge-info"><%= Sample.count(:all)%></span></div>
            </div>

            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Yara Signatures</h1>
            </div>
              <% @files = Dir['app/assets/yara/*.yar']%>
            <div class="panel-body"><span class="badge badge-info"><%= @files.length %></span></div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h5 class="panel-title">Tags</h5>
              </div>
              <div class="panel-body">
                <% tag_cloud( Sample.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
                    <%= link_to tag, threats_ioc_list_path(:tag => tag), :class => css_class %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xs-6" style="float: right:">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Intelligence</h4>
            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Feeds</h1>
            </div>
            <div class="panel-body"><span class="badge badge-info"><%= Feeds.count(:all)%></span></div>
            </div>

            <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Indicators</h1>
            </div>
            <div class="panel-body"><span class="badge badge-info"><%= Element.count(:all)%></span></div>
            </div>

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5 class="panel-title">Tags</h5>
                </div>

                <div class="panel-body">
                  <% tag_cloud( Element.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
                      <%= link_to tag, threats_ioc_list_path(:tag => tag), :class => css_class %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>


  <% else %>
    <div class="container-fluid">
      <center>
        <div class="row-fluid">
         <div class="span6">
          <%= link_to "Login", new_user_session_path, :class => "btn btn-primary" %>
           <span class="glyphicon glyphicon-resize-horizontal"></span>
          <%= link_to "Register", new_user_registration_path, :class => "btn btn-primary" %>
         </div>
        </div>
        </center>
      </div>
  <% end %>
</div>
